<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Резюме</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <h1>Зотин Николай Дмитриевич</h1>
    <br>
    <img src="/static/images/D8UI45eBfpk.jpg" alt="" style="width:300px;height:300px;">
    <p>Дата рождения: 23.10.1999</p>
    <p>+7 (915) 998 13 06</p>

    <p>15nk33l49@gmail.com</p>

    <h2>Technical Skills</h2>

    <ul>
        <li><p>Языки программирования: Java (3 года), С# (1 год), C++ (1 года), SQl,
            Python (базовый уровень) Unix/Linux, Git Command
        </li>
        <li>
            Технологии и фреймворки: Hibernate, Spring Core, Spring Mvc, Spring Boot,
            Spring Data JPA, Spring Security, Junit, Docker

        </li>
        <li>
            Database: MySQL, PostregeSQL

        </li>
        <li>
            IDE: Intellij Idea, Visual Studio, MySQL WorkBench

        </li>
        <li>
            Building tools: Git Bash, GitHub, Git lab

        </li>
    </ul>
    <br>

    <h2>English</h2>
    <p>
        Upper Intermediate (B2)
    </p>
    <br>

    <h2>Образование</h2>
    <p>Средний балл успеваемости по профильным предметам составляет <b>4,8</b></p>

    <p> - Университет РЭУ им Плеханова, направление- “Математическое обеспечение и администрирование информационный систем”. Год окончания- 2023.</p>
    <p> - Курс JavaRush 2020-2021</p>
    <p> - Курс по Git/GitHub на Undemy</p>
    <p> - Курс по Spring на Undemy</p>


    <h3>Сведения о выполненных в рамках учебного курса проектах</h3>
    <p>1. В рамках курса «Разработка современных программных комплексов» был выполнен
        курсовой проект по написанию латентно-семантического анализа и анализ тональности.
        Данный проект выполнялся в команде из 5 человек.
        Моя задача состояла в подготовке математического блока, который предполагал
        написание сингулярного разложения матрицы частоты встречаемости слов в тексте.
        Данный модуль является основополагающим, роль которого заключалась в выделении
        «главных» слов и игнорировании шумов текста.
        Также я проводил проверку результатов, выполненных другими членами команды (поиск
        ошибок («багов»)), и бесшовное соединение всех блоков в единый проект.
        Оценка за курсовую работу – отлично. Выполнена на 3-ем курсе</p>
    <p>GitHub: <a href="https://github.com/AplyQ8/completed-
                projects/tree/main/LSA_course%20work_3%20grade">https://github.com/AplyQ8/completed-
        projects/tree/main/LSA_course%20work_3%20grade</a></p>
    <p>2. В рамках курса «Программирование и администрирование в среде СУБД» была
        выполнена работа по написанию трехслойной архитектуры с использованием
        реляционной базы данных MySQLкак DataLayer и использованием фреймворка React-JS
        для написания UILayer. Средний уровень был написан на .NET Framework.
        Данный проект был выполнен на 3-ем курсе и получил оценку в 20 баллов из 20
        («отлично»).</p>
    <p>GitHub: <a href="https://github.com/AplyQ8/completed-projects/tree/main/Web_project_3%20grade">https://github.com/AplyQ8/completed-projects/tree/main/Web_project_3%20grade</a></p>
    <p>3. В рамках курса «Структуры и алгоритмы компьютерной обработки данных» была
        выполнена курсовая работа на тему «Сжатие данных». Реализовывал жадный алгоритм
        оптимального префиксного кодирования – алгоритм Хаффмана. Данный алгоритм был
        полностью выполнен на языке c++.
        Оценка за курсовую работу – отлично. Выполнена на 2-ом курсе.</p>
    <p>GitHub: <a href="https://github.com/AplyQ8/completed-projects/tree/main/Huffman_2nd%20grade">https://github.com/AplyQ8/completed-projects/tree/main/Huffman_2nd%20grade</a></p>

    <h3>Хобби, увлечения:</h3>
    <p>В свободное время интересуюсь Game Dev, имеются начатые проекты в данном
        направлении.
        Увлекаюсь баскетболом (в школе был капитаном команды).</p>

</body>
</html>